@import "tailwindcss";

@theme {
  --color-primary: #007178;
  --color-primary-dark: #004f54;
  --color-secondary: #ea5f09;
  --color-secondary-dark: #cc4d00;
  --color-background: #F8FAFC;
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }
}

body {
  @apply bg-background text-slate-800 antialiased;
}